RewriteCond %{REQUEST_URI} !^.*\.(bmp|css|gif|htc|ico|jpe?g|js|pdf|png|swf|txt|xml|svg|eot|woff|woff2|ttf)$
RewriteRule ^/(.*) /cms/application/router/$1  [L]

RewriteCond %{REQUEST_URI} ^.*\.(bmp|css|gif|htc|ico|jpe?g|js|pdf|png|swf|txt|xml|svg|eot|woff|woff2|ttf)$
RewriteRule ^/(.*) /cms/static/$1  [L]