<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!--    <meta name="platypus-server" content="http://localhost:8084/cms"/>-->
        <title>image_viewer</title>
        <script type="text/javascript" src="web/pwc/pwc.nocache.js" source-path="app" entry-point="viewer"></script>
        <script src="/cms/app/fronttend/vue.js"></script>
        <link rel="stylesheet" type="text/css" href="styles.css" />
    </head>
    <body>
        <!-- built files will be auto injected -->
        <div id="imageViewer">
            <div class="form" v-show="display">{{shofFrom}}</div>
            <div class="gallery">
                <div style="padding: 1%;">Gallery:</div>
                <div class="previewForm" v-for="image in images" track-by="$index" >
                    <div class="s1">
                        <image-preview v-bind:url-preview="image.urlPreview"></image-preview>
                        <check-box v-bind:url-preview="image.urlPreview" v-bind:check-box-id="image.item_id"></check-box>
                    </div>
                </div>
            </div>
            <div class="originalForm">
                <div class="picture">
                    <image-original class="originImage" v-bind:url-original="currentImage.urlOriginal"></image-original>
                </div>
                <div class="information">
                    <span>Information:</span>
                    <div class="info">
                        <span><pre>Name: </pre></span><info-name></info-name></br>
                        <span><pre>Type: </pre></span><info-type></info-type></br>
                        <span><pre>Description: </pre></span><info-description></info-description></br><textarea v-model="description"></textarea>
                        </br>
                        <button v-on:click="onClick(1)">Load image</button>
                        <button v-on:click="onClick(2)">Change description</button>
                        <button @click="shofFrom=!shofFrom"">Delete image</button>
                        {{msg}}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
