<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
    <script src="editor.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/sass/main.css">
</head>
<body>


<template id="side-bar-template">
    <div id="side-bar">
        <div id="side-bar-body">
            <div id="side-bar-header" v-show="show">
            </div>
            <div id="side-bar-content" v-show="show">
                <ul >
                    <li v-for="item in items" @click="itemSelected(item.name)">
                        {{ item.name }}
                    </li>
                </ul>
            </div>
            <div id="side-bar-footer" v-show="show">
            </div>
        </div>

        <div id="side-bar-toggle" @click="show=!show">
    <span>
    {{iconToggle}}
</span>
        </div>
    </div>
</template>

<template id="page-editor-template">
    <div class="content">
        <div   class="editor-form">
            <form>
                <label>
                    Page name
                </label>
                <div>
                    <input type="text" id="pageName" v-model="currentPage.pageName" required >
                </div>
                <label for="pageURL">
                    Page URL
                </label>
                <div>
                    <input type="text" id="pageURL" required >
                </div>

                <label for="pageURL">
                    Meta
                </label>
                <div>
                    <label for="author">Author</label>
                    <input type="text" id="author" >
                </div>
                <div>
                    <label for="title">Title</label>
                    <input type="text" id="title" >
                </div>
                <div>
                    <label for="charset">Charset</label>
                    <input type="text" id="charset" >
                </div>
                <div>
                    <label for="description">Description</label>
                    <textarea  id="description" ></textarea>
                </div>
                <div>
                    <button>Save</button>
                    <button>Cancel</button>

                </div>
            </form>
        </div>
    </div>
</template>

<template id="page-header-template">
    <div id="page-header">
        <button v-for="view in views" :class="{ 'active-button': view.name === currentView.name}"
                @click="viewSelected(view)">
            {{view.name}}
        </button>
    </div>
</template>

<template id="widget-editor-template">
    <div class="content widget-editor">
        <div class="editor-form">
            <form>
                <label for="data">Data</label>
                <!--<div>-->
                    <textarea  id="data" ></textarea>
                <!--</div>-->
                <label for="code">Code</label>
                <!--<div>-->
                    <textarea  id="code" ></textarea>
                <!--</div>-->
                <div>
                    <button>Save</button>
                    <button>Cancel</button>

                </div>
            </form>
        </div>

    </div>
</template>


    <div id="page">
        <page-header :current-view.sync="currentView"></page-header>
        <div id="content">
            <side-bar icon-toggle="show"></side-bar>
            <component :is="currentView.component" keep-alive>
            </component>
            <!--<page-editor></page-editor>-->
            <!--<widget-editor class="widget-editor"></widget-editor>-->
        </div>
    </div>


</body>
</html>