<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
    <script src="editor.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/sass/main.css">
</head>
<body>

<template id="side-bar-template">
    <div id="side-bar">
        <div id="side-bar-body">
            <div id="side-bar-header" v-show="show">
            </div>
            <div id="side-bar-content" v-show="show">
                <ul >
                    <li v-for="item in items" @click="itemSelected(item.name)">
                        {{ item.name }}
                    </li>
                </ul>
            </div>
            <div id="side-bar-footer" v-show="show">
            </div>
        </div>

        <div id="side-bar-toggle" @click="show=!show">
            <span>
                {{iconToggle}}
            </span>
        </div>
    </div>
</template>

<template id="page-editor-template">
    <div class="view page-editor">
        <div class="editor-form">
            <div class="form">
                <label>
                    Page name
                </label>
                <div>
                    <input type="text" id="pageName" v-model="currentPage.name"  >
                </div>
                <label for="pageURL">
                    Page URL
                </label>
                <div>
                    <input type="text" id="pageURL"  v-model="currentPage.pageURL"  >
                </div>

                <label for="pageURL">
                    Meta
                </label>
                <div>
                    <label for="author">Author</label>
                    <input type="text" id="author" v-model="currentPage.meta.author" >
                </div>
                <div>
                    <label for="title">Title</label>
                    <input type="text" id="title"  v-model="currentPage.meta.title">
                </div>
                <div>
                    <label for="charset">Charset</label>
                    <input type="text" id="charset"  v-model="currentPage.meta.charset">
                </div>
                <div>
                    <label for="description">Description</label>
                    <textarea  id="description"  v-model="currentPage.meta.description"></textarea>
                </div>
                <div>
                    <label for="keywords">Keywords</label>
                    <input type="text"  @keyup.enter="addKeyword(addingKeyword)" v-model="addingKeyword" placeholder="enter to add">
                    <div id="keywords">
                        <div id="keyword" v-for="keyword in currentPage.meta.keywords" >
                            <input type="text"  v-model="keyword">
                            <button class="add-keyword" @click="deleteKeyword(keyword)">-</button>
                        </div>
                    </div>
                </div>
                <label>
                    Template
                </label>
                <div>
                    <input type="text"  v-model="currentPage.name"  placeholder="enter">
                </div>
                <div class="main-buttons">
                    <button>Save</button>
                    <button>Cancel</button>

                </div>
            </div>
        </div>
    </div>
</template>

<template id="page-header-template">
    <div id="page-header">
        <button v-for="view in views" :class="{ 'active-button': view.name === currentView.name}"
                @click="viewSelected(view)">
            {{view.name}}
        </button>
    </div>
</template>

<template id="widget-editor-template">
    <div class="view widget-editor">
        <div class="editor-form">
            <div class="form">
                <label for="data">Data</label>
                <div>
                    <textarea  id="data" ></textarea>
                </div>
                <label for="code">Code</label>
                <div>
                    <textarea  id="code" ></textarea>
                </div>
                <div class="main-buttons">
                    <button>Save</button>
                    <button>Cancel</button>

                </div>
            </div>
        </div>

    </div>
</template>

    <div id="page">
        <page-header :current-view.sync="currentView"></page-header>
        <div class="content">
            <side-bar icon-toggle="show" :items="pageModel"></side-bar>
            <component :is="currentView.component" keep-alive>
            </component>
        </div>
    </div>

</body>
</html>