#page {
  font-family: "Arial";
  width: 900px;
  margin: auto;
  ::-webkit-scrollbar {
    width: 1em;
  }
  ::-webkit-scrollbar-track {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }
  ::-webkit-scrollbar-thumb {
    background: #777;
    outline: 1px solid slategrey;
  }
  #page-header {
    position: static;
    max-width: 900px;
    min-width: 100px;
    margin: auto;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    z-index: 101;
    text-align: center;
    vertical-align: middle;
    flex-direction: row;
    top: 1%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    button {
      width: 100%;
      height: 50px;
      background: #f8f8ff;
      color: #DDD;
      border: 0;
      outline: none;
      font-size: 14pt;
    }
    .active-button {
      background: #f5f5f5;
      color: #383838;
    }
  }
  .content {
    background: #f5f5f5;
    display: flex;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    #side-bar {
      display: flex;
      flex-direction: row;
      text-align: center;
      vertical-align: middle;
      justify-content: center;
      #side-bar-body {
        text-align: center;
        display: flex;
        flex-direction: column;
        background: #2F4F4F;
        #side-bar-header, #side-bar-footer {
          min-height: 15px;
          max-height: 50px;
          height: 15%;
          background: #DDD;
        }
        #side-bar-content {
          min-height: 10px;
          height: 100%;
          background: #383838;
          ul {
            margin: 0;
            list-style-type: none;
            height: 100%;
            overflow-x: hidden;
            text-align: left;
            padding: 0;
            div{
              position: relative;
              color: #DDD;
              height: 40px;
              min-width: 180px;
              min-height: 30px;
              max-height: 50px;
              max-width: 180px;
              box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.5);
              cursor: pointer;
              display: flex;
              justify-content: space-around;
              align-items: center;
              &:last-child {
                box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.5), 0 2px 2px 0 rgba(0, 0, 0, 0.5);
              }
              &:hover {
                color: #789;
                box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.5), 0 -4px 2px 0 rgba(0, 0, 0, 0.5);
              }
              li{
                overflow: auto;
                height: 100%;
                float: left;
                display: inline-flex;
                width: 80%;
                align-items: center;
              }
              button {
                background: white;
                color: white;
                position: relative;
                right: 3px;
                float: right;
                display: inline-flex;
                height: 35px;
                width: 35px;
                border: 1px solid transparent;
                border-radius: 50%;
                justify-content: center;
                align-items: center;
              }

            }
            button{
              width: 100%;
              border: 1px solid transparent;
              border-radius: 0px 0px 10px 10px;
            }

          }
        }
      }
      #side-bar-toggle {
        width: 25px;
        display: flex;
        text-align: center;
        vertical-align: middle;
        background: #B7B7B7;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        span {
          transform: rotate(-90deg);
          color: #000;
        }
        &:hover {
          box-shadow: 5px 0 0 -2px rgba(0, 0, 0, 0.5);
        }
      }
    }
    :focus {
      outline: none;
    }
    .view {
      width: 900px;
      display: flex;
      .editor-form {
        height: 100%;
        width: 90%;
        margin: auto;
        display: flex;
        text-align: center;
        vertical-align: middle;
        justify-content: center;
        background: transparent;
        .form {
          width: 100%;
          margin: 0;
          padding: 0;
          height: 100%;
          label {
            text-align: left;
            display: block;
            font-size: 14pt;
            padding: 6px;
          }
          div {
            text-align: left;
            width: 100%;
            display: block;
            margin: auto;
            margin-left: 25px;
            padding: 0;
            label {
              font-size: 11pt;
              display: block;
              padding-left: 0;
            }
            input {
              font-size: 11pt;
              display: block;
              min-width: 90%;
              height: 30px;
              padding: 0 8px;
              border: none;
            }
            textarea {
              padding: 8px;
              min-width: 90%;
              min-height: 100px;
              max-height: 200px;
              height: 100%;
              border: none;
            }
          }
          .main-buttons {
            position: relative;
            top: 100%;
            text-align: right;
            margin: 0;
          }
          button {
            font-family: "Arial";
            font-size: 14pt;
            width: 200px;
            height: 50px;
            margin: 20px;
            border: 0;
            outline: none;
            border-radius: 10px;
            background: #B7B7B7;
          }
        }
      }
    }
    .widget-editor .form {
      label {
        margin: 10px 0;
        padding-left: 0 !important;
      }
      div textarea {
        box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.5);
        min-height: 300px;
        max-height: 295px;
        height: 500px !important;
        background: #f5f5f5;
      }
    }
    .page-editor #keywords {
      display: flex;
      flex-wrap: wrap;
      text-align: left;
      position: relative;
      margin: 0;
      margin-right: 50px;
      width: 100%;
      min-height: 50px;
      max-height: 100px;
      overflow: auto;
      left: 0;
      max-width: 92%;
      #keyword {
        width: auto;
        display: inline-flex;
        margin: 5px;
        position: relative;
        left: 0;
        input {
          min-width: 0 !important;
          width: 85px;
          border: 1px solid transparent;
          border-radius: 10px;
        }
        .add-keyword {
          position: relative;
          left: -10px;
          text-align: center;
          padding: 0;
          margin: 0;
          width: 20px;
          height: 20px;
          vertical-align: middle;
        }
      }
    }
  }
}